/**
    overrides
**/
.tm-intro {
    background: linear-gradient( rgba(50, 50, 50, 0.05), rgba(0, 0, 0, 0.75) ), url(../img/stage.jpg) no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
    color: white;
    position: relative;
    height: 90vh;
    display: block;
}

.tm-intro-text {
    margin-bottom: 0.5em;
}

.tm-navbar-container {
    display: none;
}

.tm-container {
    max-width: 80vw;
}

.tm-news-container {
    background: transparent;
}

.tm-news-item-img-container img {
    max-width: 500px;
    height: 350px;
    object-fit: cover;
    box-shadow: grey 5px 5px 15px;
    /*position: absolute;*/
    /*bottom: 0;*/
}

.tm-news-item {
    border-left: 2px solid gray;
    padding-left: 1em;
    padding-top: 1em;
    margin-top: 3em;
    margin-bottom: 7em;
}
/**
    styles
**/

.sitename {
    text-align: left !important;
}

.introbox {
    position: absolute;
    bottom: 0;
    display: flex;
    margin-left: 10em;
    max-width: 1500px;
}

@media (min-width: 700px) and (max-width: 1000px) {
    .tm-intro {
        height: 70vh;
        background-size: 55em;
    }
}
@media (max-width: 1000px) {
    .introbox {
        margin-left: 0;
    }

    .portrait {
        height: 125px;
    }

    .tm-container {
        max-width: 95vw;
    }


    .tm-intro-text {
        font-size: medium;
    }
    .intro-text-title {
        font-size: xx-small;
    }

    .tm-news-item {
        padding-left: 0;
        border-left: 0;
        border-bottom: 2px solid gray;
    }

    .tm-news-item-img-container img {
        max-width: 90vw;
        height: auto;
    }
}

@media (max-width: 700px) {
    .tm-intro {
        height: 50vh;
        background-size: 40em;
        min-height: 250px;
    }

    .tm-news-item {
        font-size: smaller;
        padding-right: 0;
    }

    #rtb .excerpt {
        padding: 1em;
    }

    div.project-logos > img {
        width: 3.75em;
        height: 2em;
    }

    .footer-bg .profiles {
        max-width: 250px;
    }
}

.portrait {
    max-width: 150px;
    border-radius: 2em;
    border: solid white 2px;
    border-bottom: 0;
    margin: 1em;
    margin-bottom: -2em;
}

.introtext {
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    text-align: left;
}

.introtext > h1, .introtext > p {
    display: block;
}

.introtext > h1 {
    margin-top: auto;
}
.intro-text-title {
    color: white;
    text-align: left;
    margin-bottom: 0;
    font-size: small;
}

.transparent-bg {
    background: linear-gradient( rgba(250, 250, 250, 0.98), rgba(250, 250, 250, 0.9) ), url(../img/stage.jpg) no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
}

/* currently only for blog section */
.transparent-bg-alt {
    background: linear-gradient( rgba(80, 80, 80, 0.85), rgba(100, 100, 100, 0.7) ), url(../img/stage.jpg) no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
    color: white;
}

.transparent-bg-alt p {
    color: white;
    font-size: small;
    text-align: left;
}
.transparent-bg-alt h2 {
    margin-top: 1em;
    color: white;
    text-align: left;
}
.transparent-bg-alt div.author {
    display: none;
}
.transparent-bg-alt div.excerpt {
    max-height: 12em;
}
.transparent-bg-alt div.excerpt figure {
    display: none;
}

/* style blog article container */
#rtb > span > div > div {
    padding: 1em;
    transition: background-color 0.5s;
}
#rtb > span > div > div:hover {
    background: rgba(0, 0, 0, 0.25);
    transition: background-color 0.5s;
}

[tooltip]:before {
    position: absolute;
    bottom: -2rem;
    content: attr(tooltip);
    opacity: 0;
    color: #1b3246;
    transition: opacity 1s;
}
.longTextTooltip[tooltip]:before {
    margin-left: -0.3rem;
}
[tooltip]:hover:before {
    opacity: 1;
}
.profiles {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
}
.profiles div {
    margin: auto auto 2rem auto;
}
@media (max-width: 900px) {
    .profiles div {
        margin: auto 8vw 2rem 8vw
    }
}
.profiles div a {
    display: inline-block;
}
.profiles div a i {
    transition: color 1.5s;
    color: #568ebd;
}
.profiles div a i:before {
    font-size: 400%;
}
.profiles div a i:hover {
    color: #1b3246;
}

.footer-bg .tm-section {
    padding-bottom: 2rem;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}




/**** New Styles for Redesign ****/

.project-headline {
    color: black;
}

.project-links {
    font-size: small;
}

.project-logos img {
    width: 6em;
    height: 3em;
}

.hidden-project {
    display: none;
}

.section-button {
    font-size: larger;
    cursor: pointer;
    color: #007ab4;
    transition: color 0.5s;
}
.section-button:hover {
    transition: color 0.5s;
    color: #005b91;
}

.between-section-element {
    padding-bottom: 2em;
}