html,
body {
  position: relative;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #d7e4ef;
  color: #1b3246;
}
.titleWrapper {
  width: 100%;
  display: flex;
  /*h1:after {
    content: "";
    height: 1px;
    width: auto;
    display: flex;
    margin: 2rem -10rem auto 0;
    background-color: dimgray;
  }*/
}
h1 {
  padding: 0 0 0 55px;
  float: left;
}
h2 {
  padding: 0 0 0 15px;
}
a:link {
  color: #1b3246;
  text-decoration: none;
}
a:hover {
  color: #1b3246;
  text-decoration: none;
}
a:visited {
  color: #1b3246;
  text-decoration: none;
}
a:active {
  color: #1b3246;
  text-decoration: none;
}
#menu {
  float: left;
  width: 15vw;
  min-width: 100px;
  height: 100%;
  margin: 0;
  background: #1b3246;
  color: #d7e4ef;
}
.menuItem {
  display: flex;
}
.menuItem a {
  width: 100%;
  padding: 1.5rem 0 1.5rem 2rem;
  cursor: pointer;
  transition: background-color 1s;
}
.menuItem a:link {
  color: #FFF;
  text-decoration: none;
}
.menuItem a:hover {
  color: #FFF;
  text-decoration: none;
}
.menuItem a:visited {
  color: #FFF;
  text-decoration: none;
}
.menuItem a:active {
  color: #FFF;
  text-decoration: none;
}
.menuItem a:hover {
  font-weight: bold;
  background-color: #294d6b;
  color: #fbfdfe;
}
.menuItem a:after {
  content: "";
  height: 2px;
  width: auto;
  display: flex;
  margin: 1rem 1rem auto -1rem;
  background-color: #d7e4ef;
}
.menuItem a i {
  padding: 1rem;
  font-size: 150%;
}
#content {
  float: left;
  width: 85vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 120%;
  background-image: url("../img/background2.jpg");
  background-size: cover;
}
section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 25rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: linear-gradient(to bottom right, #d7e4ef, #e9f0f6);
}
section > p {
  padding: 5rem;
  line-height: 200%;
  width: 100%;
}
#sectionQuote {
  background: linear-gradient(rgba(150, 210, 250, 0.5), rgba(150, 210, 250, 0.5));
  color: #1b3246;
}
#sectionQuote p {
  font-size: 180%;
  font-style: italic;
  font-variant: small-caps;
  font-stretch: expanded;
  font-family: Lucidatypewriter, monospace;
}
#sectionQuote p:before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
#sectionQuote .quoteAuthor {
  font-size: 50%;
  display: block;
}
#sectionSocial,
#sectionTwitter {
  background: linear-gradient(rgba(150, 210, 250, 0.5), rgba(150, 210, 250, 0.5));
}
#sectionHome {
  background: linear-gradient(rgba(150, 210, 250, 0.5), rgba(150, 210, 250, 0.5));
}
#sectionProjects {
  background-color: linear-gradient(rgba(215, 228, 239, 0.05), rgba(215, 228, 239, 0.1));
}
.seperator1 {
  width: 100%;
  height: 10rem;
  background-image: linear-gradient(to top, #d7e4ef, #d7e4ef, rgba(150, 210, 250, 0.5));
  background-size: cover;
}
.projects {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}
.projects > li {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.projects > li .projectWrapper {
  padding: 5rem 12rem 5rem 12rem;
  min-height: 5rem;
}
.projects > li .projectWrapper h2 {
  margin: 0 auto 2rem 5rem;
  padding: 0;
}
.projects > li .projectWrapper h2:after {
  content: " ";
  display: block;
  margin: 1rem 0 1rem -2rem;
  width: 100%;
  height: 1px;
  background-color: #b2cce1;
}
.projects > li .projectWrapper p {
  display: flex;
  line-height: 155%;
}
.projects > li .projectWrapper p > img,
.projects > li .projectWrapper p > iframe,
.projects > li .projectWrapper p > .imageWrapper {
  height: 80%;
  width: 50%;
  float: right;
  margin-left: 3rem;
  box-shadow: 2rem 1rem 2rem #1B1B1B;
}
.projects > li .projectWrapper p > .imageWrapper {
  height: 15rem;
}
.projects > li .projectWrapper p > .imageWrapper img {
  height: 15rem;
  width: 25vw;
}
.projects > li .projectWrapper p a {
  font-weight: bold;
}
.projects > li .projectWrapper p.videoWrapper {
  margin-top: 3rem;
  display: block;
}
.projects > li .projectWrapper p.videoWrapper iframe {
  width: 25vw;
  height: 20rem;
}
.inactivePage {
  display: none;
}
[tooltip]:before {
  position: absolute;
  bottom: 2rem;
  content: attr(tooltip);
  opacity: 0;
  color: #1b3246;
  transition: opacity 1s;
}
.longTextTooltip[tooltip]:before {
  margin-left: -0.7rem;
}
[tooltip]:hover:before {
  opacity: 1;
}
.profiles {
  list-style-type: none;
  display: flex;
  margin: auto;
}
.profiles li {
  margin: auto 2rem auto 2rem;
}
.profiles li a {
  display: flex;
}
.profiles li a i {
  transition: color 1.5s;
  color: #568ebd;
}
.profiles li a i:before {
  font-size: 400%;
}
.profiles li a i:hover {
  color: #1b3246;
}
#twitter-widget-0 {
  margin-top: 5rem;
  max-height: 15rem;
}
@media all and (max-width: 1350px) {
  #menu {
    display: none;
  }
  #content {
    width: 100vw;
  }
}
@media all and (max-width: 1000px) {
  .projects li a img {
    width: 90%;
  }
  .projects li a p {
    float: none;
    width: 100%;
  }
  .multiPageProject ul li p {
    width: 80%;
  }
  .multiPageProject ul li iframe {
    width: 100%;
  }
  .profiles {
    flex-wrap: wrap;
  }
  [tooltip]:before {
    content: none;
  }
}
@media all and (min-width: 1400px) {
  section {
    max-width: 1600px;
    margin: auto;
  }
}
.maintenance {
  z-index: 1000;
  display: inline-block;
  position: absolute;
  top: 10vh;
  left: 10vw;
  right: 10vw;
  width: 80%;
  height: 80%;
  border-radius: 40px;
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(../img/screwdriver3.svg);
  background-color: rgba(220, 180, 0, 0.75);
}
.maintenanceTitle {
  position: absolute;
  bottom: 10vh;
  width: 100%;
  font-size: 60px;
  text-align: center;
}
