
@contentBackground: lighten(steelblue, 40%);
@menuBackground: darken(steelblue, 30%);

@contentColor: @menuBackground;
@menuColor: @contentBackground;

//normalize links
.normalizeLinks (@textcolor){
  &:link {
    color: @textcolor;
    text-decoration: none;
  }
  &:hover {
    color: @textcolor;
    text-decoration: none;
  }
  &:visited {
    color: @textcolor;
    text-decoration: none;
  }
  &:active {
    color: @textcolor;
    text-decoration: none;
  }
}

html, body {
  position: relative;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: @contentBackground;
  color: @contentColor; 
}

.titleWrapper {
  width: 100%;
  display: flex;

  /*h1:after {
    content: "";
    height: 1px;
    width: auto;
    display: flex;
    margin: 2rem -10rem auto 0;
    background-color: dimgray;
  }*/
}

h1 {
  padding: 0 0 0 55px;
  float: left; 
}

h2 {
  padding: 0 0 0 15px; 
}


a {
  .normalizeLinks(@contentColor);
  &:hover {
    //font-weight: bold;
  }
}

#menu {
  float: left;
  width: 15vw;
  min-width: 100px;
  height: 100%;
  margin: 0;
  background: @menuBackground;
  color: @menuColor; 
}

.menuItem {
  display: flex;
  a {
    .normalizeLinks(#FFF);
    width: 100%;
    padding: 1.5rem 0 1.5rem 2rem;
    cursor: pointer;
    transition: background-color 1s;

    &:hover {
      font-weight: bold;
      background-color: lighten(@menuBackground, 10%);
      color: lighten(@menuColor, 10%);
    }

    &:after {
      content: "";
      height: 2px;
      width: auto;
      display: flex;
      margin: 1rem 1rem auto -1rem;
      background-color: @menuColor;
    }

    i {
      padding: 1rem;
      font-size: 150%;
    }
  }
}

#content {
  float: left; 
  width: 85vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 120%;

  background-image: url("../img/background2.jpg");
  background-size: cover;
}

section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 25rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: 
    linear-gradient(
      to bottom right,
      @contentBackground,
      lighten(@contentBackground, 5%));

  > p {
    padding: 5rem 12rem 5rem 12rem;
    line-height: 200%;
    width: 100%;
  }
}

.transparentBackground (@opacity: 0.5){
  background: linear-gradient(
          rgba(150,210,250,@opacity),
          rgba(150,210,250,@opacity)
  );
}

#sectionQuote {
  .transparentBackground;
  color: @contentColor;

  p {
    font-size: 180%;
    font-style: italic;
    font-variant: small-caps;
    font-stretch: expanded;
    //font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
    //font-family: Perpetua, Baskerville, 'Big Caslon', 'Palatino Linotype', Palatino, 'URW Palladio L', 'Nimbus Roman No9 L', serif;
    font-family: Lucidatypewriter, monospace;

    &:before {
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
  }

  .quoteAuthor {
    font-size: 50%;
    display: block;
  }
}

#sectionSocial, #sectionTwitter {
  .transparentBackground;
}

#sectionHome {
  .transparentBackground(0.5);
}

#sectionProjects {
  background-color: linear-gradient(
          fade(@contentBackground, 5%),
          fade(@contentBackground, 10%)
  );
}

.seperator1 {
  width: 100%;
  height: 10rem;
  background-image: linear-gradient(
    to top,
    @contentBackground,
    @contentBackground,
    rgba(150,210,250,0.5)
  );
  background-size: cover;
}

.projects {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;

  > li {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    .projectWrapper {
      padding: 5rem 12rem 5rem 12rem;
      min-height: 5rem;

      h2 {
        margin: 0 auto 2rem 5rem;
        padding: 0;

        &:after {
          content: " ";
          display: block;
          margin: 1rem 0 1rem -2rem;
          width: 100%;
          height: 1px;
          background-color: darken(@contentBackground, 10%);
        }
      }

      p {
        display: flex;
        line-height: 155%;

        > img, > iframe, > .imageWrapper {
          height: 80%;
          width: 50%;
          float: right;
          margin-left: 3rem;
          box-shadow: 2rem 1rem 2rem #1B1B1B;
        }

        > .imageWrapper {
          height: 15rem;

          img {
            height: 15rem;
            width: 25vw;
          }
        }

        a {
          font-weight: bold;
        }
      }

      p.videoWrapper {
        margin-top: 3rem;
        display: block;

        iframe {
          width: 25vw;
          height: 20rem;
        }
      }
    }
  }
}


.inactivePage {
  display: none;
}

[tooltip]:before {            
  position : absolute;
  bottom: 2rem;
  content : attr(tooltip);
  opacity : 0;
  color: @contentColor;

  transition: opacity 1s;
}

.longTextTooltip[tooltip]:before {
  margin-left: -0.7rem;
}

[tooltip]:hover:before {        
  opacity : 1;
}

.profiles {
  list-style-type: none;
  display: flex;
  margin: auto;
  padding: 0;

  li {
    margin: auto 2rem auto 2rem;


    a {
      display: flex;

      i {
        transition: color 1.5s;
        color: lighten(@contentColor, 35%);
 
        &:before {
          font-size: 400%;
        }

        &:hover {
          color: @contentColor;
        }
      }
    }
  }
}

#twitter-widget-0 {
  margin-top: 5rem;
  max-height: 15rem;
}


// styles for small devices

@media all and (max-width: 1350px) {
  #menu {
    display: none;
  }

  #content {
    width: 100vw;
  }
}

@media all and (max-width: 1000px) {

  #sectionHome p {
    padding: 5rem;
  }

  .projects li > .projectWrapper {
    padding-left: 5rem;
    padding-right: 5rem;

    img {
      width: 90%;
    }

    p {
      float: none;
      width: 100%;
    }

    p.videoWrapper > iframe, p .imageWrapper > img {
      width: 35vw;
    }
  }

  .profiles {
    flex-wrap: wrap;
  }

  [tooltip]:before {
    content: none;
  }
}

// styles for big devices

@media all and (min-width: 1400px) {
  section {
    max-width: 1450px;
    margin: auto;
  }
}


// maintenance code

.maintenance {
  z-index: 1000;
  display: inline-block;
  position: absolute;
  top: 10vh;
  left: 10vw;
  right: 10vw;
  width: 80%;
  height: 80%;
  border-radius: 40px;
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(../img/screwdriver3.svg);
  background-color: rgba(220, 180, 0, 0.75); 
}

.maintenanceTitle {
  position: absolute;
  bottom: 10vh;
  width: 100%;
  font-size: 60px;
  text-align: center; 
}
