
@contentBackground: #ddd;
@menuBackground: #333;

@contentColor: @menuBackground;
@menuColor: @contentBackground;

//normalize links
.normalizeLinks (@textcolor){
  &:link {
    color: @textcolor;
    text-decoration: none;
  }
  &:hover {
    color: @textcolor;
    text-decoration: none;
  }
  &:visited {
    color: @textcolor;
    text-decoration: none;
  }
  &:active {
    color: @textcolor;
    text-decoration: none;
  }
}

html, body {
  position: relative;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: @contentBackground;
  color: @contentColor; 
}

.titleWrapper {
  width: 100%;
  display: flex;
}

h1 {
  padding: 0 0 0 55px;
  float: left; 
}

h2 {
  padding: 0 0 0 15px; 
}


a {
  .normalizeLinks(@contentColor);
  &:hover {
    font-weight: bold; 
  }
}

#menu {
  float: left;
  width: 15vw;
  min-width: 100px;
  height: 100%;
  margin: 0;
  background: @menuBackground;
  color: @menuColor; 
}

.menuItem {
  display: flex;
  a {
    .normalizeLinks(#FFF);
    width: 100%;
    padding: 1.5rem 0 1.5rem 2rem;
    cursor: pointer;
    transition: background-color 1s;

    &:hover {
      font-weight: bold;
      background-color: lighten(@menuBackground, 15%);
    }

    i {
      padding: 1rem;
      font-size: 150%;
    }
  }
}

#content {
  float: left; 
  width: 85vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 140%;
}

section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 25rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: 
    linear-gradient(
      @contentBackground,
      lighten(@contentBackground, 5%));

  > p {
    padding: 5rem;
    line-height: 200%;
    width: 100%;
  }
}

.projects {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  li {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 2rem;
    background-color: darkslategray;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: background-color 1s;

    &:hover { 
      background-color: lighten(darkslategray, 10%);
    }

    a {
      padding: 5rem;
      min-height: 5rem;

      img {
        height: 80%%;
        width: 50%;
        box-shadow: 2rem 1rem 2rem #1B1B1B;
      }

      p {
        width: 40%;
        float: right;
        line-height: 155%;
        color: aliceblue;
      }
    }
  }
}

.profiles {
  list-style-type: none;
  display: flex;
  margin: auto;

  li {
    margin: auto 2rem auto 2rem;

    a {
      display: flex;

      i {
        transition: color 1.5s;
        color: lighten(@contentColor, 35%);
 
        &:before {
          font-size: 400%;
        }

        &:hover {
          color: @contentColor;
        }
      }
    }    
  }
}


// styles for small devices

@media all and (max-width: 1350px) {
  #menu {
    display: none;
  }

  #content {
    width: 100vw;
  }
}

@media all and (max-width: 1000px) {

  .projects li a {

    img {
      width: 90%;
    }

    p {
      float: none;
      width: 100%;
    }
  }
}


// maintenance code

.maintenance {
  z-index: 1000;
  display: inline-block;
  position: absolute;
  top: 10vh;
  left: 10vw;
  right: 10vw;
  width: 80%;
  height: 80%;
  border-radius: 40px;
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(../img/screwdriver3.svg);
  background-color: rgba(220, 180, 0, 0.75); 
}

.maintenanceTitle {
  position: absolute;
  bottom: 10vh;
  width: 100%;
  font-size: 60px;
  text-align: center; 
}
